/* {box-sizing: border-box;} */

table {
    table-layout: fixed;
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border-top: 1px solid rgb(0,0,0, 0.3);

}

th, td {
    padding: 5px;
}

tbody td {
    text-align: center;
    border-top: 1px solid rgb(0,0,0, 0.3);
    border-bottom: 1px solid rgb(0,0,0, 0.3);
}

tfoot th{
    text-align: right;
}

.delete-button{
    background: lightblue;
}

header {
    height: 40px;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    box-sizing: border-box;
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 15px;
    right: 28px;
    width: 200px;

    margin: 5px 0 10px 0;    
  }

  /* The popup form - hidden by default */
.form-popup {
    box-sizing: border-box;
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
/* Add styles to the form container */
.form-container {
    box-sizing: border-box;
    max-width: 220px;
    padding: 10px;
    /* padding-bottom: 0px; */
    background-color: white;
    
  }

  /* Full-width input fields */
.form-container input[type=text], input[type=number], input[type=checkbox]{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
  }



  /* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for the submit/login button */
.form-container .btn-close, .btn-submit {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  /* Add a red background color to the cancel button */
.form-container .btn-close {
    background-color: red;
  }

/* Add some hover effects to buttons */
.form-container .btn-close:hover,.btn-submit:hover, .open-button:hover {
    opacity: 1;
  }

.form-container .checkbox-label {
    display: block;
    text-align: center;
}



/* table-layout: fixed; prevents the table from
sizing cells based on how much content they contain.
It's better to set it to fixed, and size the cells
based on the headings and then deal with column content
as appropriate */

/* Something to add.  The example has just enough height for 
each column so that if a book takes up 2 lines, it wont alter the
height of the column.
Also, he adds a background color to every other column which looks
really nice.  I think a lot of this will be designated in JS */


/* .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
} */

/* The popup form - hidden by default */
/* .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  } */

  /* Add styles to the form container */
/* .form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
} */

/* Full-width input fields */
/* .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  } */

    /* When the inputs get focus, do something */
/* .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  } */

    /* Set a style for the submit/login button */
/* .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  } */

    /* Add a red background color to the cancel button */
/* .form-container .cancel {
    background-color: red;
  } */
  
  /* Add some hover effects to buttons */
/* .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  } */